/*
Theme Name:  Flexline
Theme URI:   https://classicpress-themes/fastbreak
Author:      Tradesouthwest
Author URI:  https://tradesouthwest.com/
Description: Versatile magazine style layout with two sidebars and flex container that puts main content at the top of page, regardless of screen size. Has mobile ready menus and widgets. Features include Flexline Theme Settings; Changes height of logo in header; Choose the font family type. Add HTML to Header just above description. Color of Background in Header Footer; Color for Links; Excerpts show in featured image area above post. 
Version:     1.0.3
Requires PHP: 7.2
Requires CP:  1.4
License:     GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:        one-column, two-columns, right-sidebar, left-sidebar, blog
Text Domain: flexline

This theme, like ClassicPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/* ******** INDEX
1 - General Page Layout
2 - Navigation
3 - Content Elements

*/

/* ************************************************************ 1 - Layout 
*/
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary,ul{
  display: block;
}
code,kbd,pre,samp{
  font-family:monospace,monospace;
  font-size:1em
}
hr{
  height:0;
  overflow:visible
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
.wp-caption img,
img {
  display:flex;
  max-width: 100%;
}
.wp-caption.alignnone,
.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
  max-width: calc(100% - 10vw)
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input { /* 1 */
  overflow: visible;
}
button,
select { /* 1 */
  text-transform: none;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
[hidden] {
  display: none;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  height: 100%;
  box-sizing: border-box;
  text-size-adjust: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {

  overflow-x: hidden;
}
.main, .aside-1, .aside-2, .header-wrap, .header-1, .header-2, .header-logo,
.footer, .nav{
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;  /* IE10 */
  display: -moz-flex;
  display: -webkit-flex; /* old versions of Chrome/Safari/Opera */
  display: flex;
  -webkit-justify-content: space-between; 
  justify-content: space-between; 
}
.footer,
.aside{
  display: flex;
}
.wrapper {
  display: flex;  
  flex: 1;
  flex-flow: row wrap;

}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: #efefef;
  background: linear-gradient(#eaecee, #fff, #e9ecee);
  border: thin solid #eee;
  display: flex;
}
.footer{
  flex-direction:column
}
.main {
  text-align: left;
  background: #fdfdfd;
  display: flex;
  flex: 3 0px;
  position:relative; 
  z-index: 1;
}
.main.central{
 flex-direction: column;
 padding-left: 1em;
 padding-right:1em;
}
.header-wrap{
  padding-left: 10px;
  padding-right: 10px;
}
.aside-1, .aside-2{
  padding: 10px;
}
.aside-1 {

  background: #f9f9f9;
}

.aside-2 {
 
  background: #fafafa;
}
.header-wrap{
  flex-direction: column;
  flex: 3 0px;
}

.header-logo img{
  margin: 2px;
}

.footer-block{
  background: #fff;
  width: 100%;
}
.wide-row{
  display:flex;
  flex-direction: row;
  width: 100%;
}
.footer .widget-area{
  display: inline-flex;
  align-items: baseline;
  margin-left:1em;
}
#footer_one .widget{
  margin: 0 1em 0 auto;
  min-height: 5em;
}
h2.widget-title{
  font-size: 24px;

}

.page-content.with-excerpt{
  max-width: 98.8992%
}
.with-excerpt .inner-content span a{
  text-decoration: none;
}
p, .inner-content{
  line-height: 1.68;
}


/* ************************************************************ 2 - Navigation 
*/
.nav {
  justify-content: space-between;
  width: 100%;
  position:relative; 
  z-index: 999;
  display: flex;
  background: rgba(252,252,252, .8);
}
.nav ul,
.nav li{
  display: flex;
  margin: 0;
  padding: 0;
  flex-flow: wrap;
}
.nav li{
  height: 2.268em;
  margin-right:2px;
  margin-top:2px;
}
.nav li.menu-item-has-children:after{
  position: relative;
  top: .45em;
  display: inline-block;
  content: " ";
  border: 8px solid;
  margin-left: 1px;
  height:1.685em;
  width: 1.685em;
  border-radius: 50%;
  cursor: pointer;
}
.nav li.menu-item-has-children:hover:after{
  box-shadow: 0 0px 2px 1px #ccc
}
.nav ul.sub-menu {
  position: absolute;
  visibility: hidden;
  flex-direction: column; /*
  top: 80%;
  width: .05%;
  height: .05%; */
  background: #f9f9f9;
  margin-left:1.5em;
  transition: .8s;
}
.nav ul.sub-menu > li {
margin-left:0;
}
.nav li a{
  text-align: center;
  align-items: center;
  min-width: 100px;
  white-space: normal;
  height: auto;
  width: fit-content;
}
.nav a{
  min-width:100px;
  padding: 0.25rem 1rem;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #454545;
  line-height: 1;
  display: flex;
  height: 2em;
  text-align: center;
  box-sizing:content-box;
}
.nav li.menu-item-has-children:focus > ul.sub-menu,
.nav li.menu-item-has-children:hover > ul.sub-menu,
.nav li.menu-item-has-children:focus-within > ul.sub-menu{
  visibility: visible;
  width: auto;
  height: fit-content;

}
.current_page_item a,
.current_page_ancestor a{
  text-shadow: 1px 0 1px #aaa;
  border-color: darkgray;
  background: rgba(252,252,252, .8);
}
.pagination-nav{
  width: 100%;
  min-height: 1em;
  flex-direction: column;
}
.prevpst-nav,
.nextpst-nav{
  padding: 6px 12px;
  margin: 0 1em;
  font-size: larger;
  font-weight: bold;
  background: #f7f7f7;
  box-shadow: 1px 2px 1px 0px #ccc;
}
.prevpst-nav:hover,
.nextpst-nav:hover,
.prevpst-nav:focus,
.nextpst-nav:focus,
.prevpst-nav:focus-within,
.nextpst-nav:focus-within{
  background: #cde;
  border-bottom: thin dotted #000
}
#mobile_menu{
  display: flex;
}
.nav-button{
  display:flex;
  height: 50px;
  padding: 15px;
  cursor: pointer;
  margin: .5em .5em -2em auto;
  display:none;
}
/* ************************************************************ 3 - Elements 
*/
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute ;
	width: 1px;
	/* many screen reader and browser combinations announce broken words as they would appear visually */
	word-wrap: normal ;
}
/* must have higher specificity than alternative color schemes inline styles */
.skip-link {
	background-color: #f1f1f1;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #21759b;
	display: block;
	font-family: inherit;
	font-size: 14px;
	font-weight: 700;
	left: -9999em;
	outline: none;
	padding: 15px 23px 14px;
	text-decoration: none;
	text-transform: none;
	top: -9999em;
}

.logged-in .skip-link {
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
	font-family: "Open Sans", sans-serif;
}

.skip-link:focus {
	clip: auto;
	height: auto;
	left: 6px;
	top: 7px;
	width: auto;
	z-index: 100000;
}
  
h3, h4, h5, h6 {
  font-family: "Segoe UI", Verdana, sans-serif;
  font-weight: bold;
  line-height: 1;
  margin: 20px 0;
}

h1 {
  font-size: 36px; 
  font-weight: bold; 
  margin: 10px 0;
}
h2 {
  font-size: 30px; 
  font-weight: bold; 
  margin: 10px 0;
  
}
h3 {font-size: 24px}
h4 {font-size: 20px}
h5 {font-size: 18px}
h6 {font-size: 16px}

hr {
  border: thin solid lightgray;
  background-color: #f7f7f7;
  height: 1px;
  width: 98%;
  margin: 1rem auto;
}
hr:after{
  display: table;
  clear:both
}
p{
  margin-bottom: 9px;
  line-height: 1.6258;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

}
ul li {
  margin-left: 0;
}
.empty-div{
  background: transparent;
  min-height: 1px;
}

/* ************************************************************ 4 - Content
*/
.site-description{
  margin: auto;
}
.site-title,
.site-title a{
  font-weight: bold;
  letter-spacing: 2px;
  margin: auto;
  text-decoration: none;
}
.post-title a{
  font-style: italic;
  word-wrap: break-word;
  max-width: 599px;
  display: block;
  text-decoration: none;
}
.archives-content .post-title{
  min-height: 2em;
}
.h2date{
  font-size: x-small;
  display: inline;
  position: relative;
  bottom: -2.3em;
  left: 2em;
  font-style: oblique;
}
.linked-attachment-container{
  width: 98.8992%;
  margin: 0 auto 0 0;
  padding: 0;
  background: #f2f4f6
}
.linked-attachment-container img{
  margin: 0;
  padding: 10px 0 0 10px;
}
.flexline-additional{
  display: flex;
  padding: 1px .5rem;
}
.excerpt-heading{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.excerpt-heading .post-title{
  background: rgba(252,252,252, .8);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.page-title{
  padding-left: 10px;
}
.inner-content .inner-content{
  padding-right: 15px;
  padding-left: 10px;
}
.blog .inner-content{
  margin-top: 1.582em;
}
.blog .excerpt-heading .post-title {
  margin-bottom: -15px;
  height: auto;
  display: flex;
}
.readon{
  border: thin solid #eee;
  border-radius: 7px;
  position: relative;
  top: -1px;
  text-decoration: none;
  box-shadow: 1px 2px 1px 0px #ccc;
}
.readon:hover{
  background: #f2f4f6;
  box-shadow:none;
  border-color: #aaa
}
.read-on{
  font-weight: bold;
  font-size: x-large;
  line-height: 1;
  padding-left: 3px;
  padding-right: 8px;
}
.aside-1 .search-field,
.aside-2 .search-field{
  max-width: 70%;
}
.aside-1 [type="submit"],
.aside-2 [type="submit"]{
  padding: 0.2185rem;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #454545;
  line-height: 1;
  display: inline-flex;
  height: 1em;
  text-align: center;
  box-sizing:content-box;
}
.comments-aside{
  width: 92%;
  margin: 0 auto;
}
#comment{
  width: 98.8992%;
  min-height: 6em
}
.comment-reply-title{
  opacity: 0.5
}
.form-allowed-tags{
  font-size: .68rem;
  color: #646464;
  line-height: 1.2888;
}
.comment-respond{
  background: #f2f4f6;
  padding: 5px 10px;
  margin-left: -3em
}
.comment-respond label{
  min-width: 80px;
  display: inline-flex;
}
textarea#comment,
.comment-form input{
  border: thin inset #999;
  border-radius: 3px;
}
.comment-form input[type="submit"]{
  padding: 2px 8px;
  font-size: 1.222rem;
}
/* ************************************************************ 5 - Media Queries 
*/

@media all and (max-width: 766px) {
  p {
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    width: 95.36vw;
  }
  .single img{
    max-width: calc( -2em + 100vw )
  }
  .avoid-clicks {
    pointer-events: none;
  }
  .page-content.with-excerpt{
    max-width: 100vw
  }
  .nav ul { 
    flex-direction: column;

  }
  .nav ul.sub-menu{
    top: auto;
    left: calc( 1vw + 100px );
    background: transparent;

  }
  .nav ul.sub-menu > li{
    background: #fbfbfb;
  }
  .nav ul.sub-menu .sub-menu > li{
    margin-left: calc( 1vw + -3em );
  }
  .nav ul.sub-menu .sub-menu > li a{
    padding-left: 5px;
    padding-right: 5px;
  }
  .nav li.menu-item-has-children:hover{
    opacity: 1
  }
  .nav li.menu-item-has-children:hover:after,
  .nav li.menu-item-has-children:hover + .menu-item-has-children:after{
    opacity: .1
  }
  #mobile_menu{
    display:none;
  }
  .nav-button{
    display: flex;
  }
  .site-title{font-size:1.318rem}
  .header-logo img{
    transform:scale(.75)
  }
}
@media all and (max-width: 520px){
  .header-logo img{
    margin-left: -2rem;
  }
  .wrapper{
    display:inline-flex;
    max-width: 99.825vw;
    margin: 0 auto
  }
  body{
    overflow-x: hidden;
    flex-wrap: nowrap;
  }
}
@media all and (orientation: portrait){
  .wrapper,
  body{
    max-width: 99.825vw;
    padding: .125em;
    font-size: 15px;
  }
  body,
  html{
    overflow-x: hidden;
  }
}

@media all and (min-width: 767px) {
  .aside, .insdhdr { 
    flex: 1 0 0;
  }
  .nav ul { flex-direction: row; }
}

@media only screen and (min-width: 768px) {
  .nav ul.sub-menu{
    top: 2em;
  }
  .nav ul.sub-menu .sub-menu{
    top: 2em;
    margin-left: 95px;
  }
  .nav ul.sub-menu .sub-menu .sub-menu{
    top: 1em;
    margin-left: 45px;
  }
}

@media all and (min-width: 800px) {
  .header-wrap{flex-direction: row}
  .aside-1, .header-1 { order: 1; } 
  .main, .header-logo    { order: 2; }
  .aside-2, .header-2 { order: 3; }
  .footer  { order: 4; }
  .aside, .insdhdr { 
    padding-left: 1em;
  }

  .single .inner-content{
    max-width: 57vw
  }
} 
